:root{
  --Iris:#4D5AE5;
  --Ocean:#404BBF;
  --NAVY-BLUE:#2E2F42;
  --SLATE:#434455;
  --LIGHTSLATE:#8E8F99;
  --CLOUD:#F4F4FD;
  --CORNFLOWER:#E7E9FC;
  --GREEN:#31D0AA;
  --GREY:2E2F42;
  --NAVYBLUEMODAL:#2E2F42;


}
body{
  font-family: Roboto, sans-serif;
}
li{
  list-style: none;
}
ul{
  padding-inline-start: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}
p,h1,h2{
  margin-top: 0px;
}
.link{
  text-decoration: none;
}
.container{
  width: 1158px;
  outline: 2px solid #a7a658;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-bottom: 120px;
  outline:1px solid #c1ad3e;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.nav-flex{
  display: flex;
  margin-left: 76px;
}
.nav-flex li+li {
  margin-left: 40px;
}
.contacts-flex{
  display: flex;
  margin-left: auto;
}
.contacts-flex li+li{
  margin-left: 30px;
}
.adress-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}
.link-header{
  padding-top: 24px;
  padding-bottom: 24px;
  outline: 1px solid tomato;
  display: block;
}

.logo{
  text-transform:uppercase;
  color: var(--Iris);
  font-family: Raleway;
  font-size: 18px;
  line-height: 24px;
}
.accent-logo{
  color: var(--NAVY-BLUE);
}
.link-header{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
}
.link-header:hover,
.link-header:focus,
.adress-header:hover,
.adress-header:focus{
  color: var(--Ocean);
}
.link-current{
  color: var(--Iris);
}
/* Hero */
.hero{
  margin-right: auto;
  margin-left: auto;
  width: 1440px;
  height: 600px;
}


.title-text{
  color:#000;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.button-hero{
  background-color:var(--Iris);
  color:#FFF;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
  font-weight: 500;
  font-size: 16px;
}
.button-hero:hover{
  background-color: var(--Ocean);
}
/* Section-Advantage */

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

}
.flex-container-advantage{
  display: flex;
  flex-wrap: wrap;
  /* margin: -12px; */
}
.element-advantage{
  width: 264px;
  /* margin: 12px; */
}
.element-advantage:not(:last-child){
  margin-right: 24px;
}


.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-top: 0px;
  margin-bottom: 72px;

}
.title-third{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);

  margin-top: 0px;
  margin-bottom: 8px;

}
.text-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--SLATE);

  margin-top: 0px;
  margin-bottom: 8px;
}

/* test */
.flex-container-advantage2{
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  
}
.element-advantage2{
  width: calc((100%-3*24px)/4);
  margin-right: 24px;
  
}
.element-advantage2:last-child{
  margin-right: 0px;
}



/* What we do */
.flex-works{
  display: flex;
  flex-wrap: wrap;
  /* margin: -12px; */

}
.element-foto{
  /* margin: 12px; */
  /* width: calc(100%-48px)/3; */
  margin-right: 24px;
}
.element-foto:last-child{
  margin-right: 0;
}



/* Our team  */
.section-team{
  background-color: var(--CLOUD);
}
.flex-team{
  display: flex;
  margin: -12px;
}
.flex-card{
  margin: 12px;
  width: 264px;
  outline: 1px dashed blue;
}
.card-foto{
  margin-bottom: 32px;
}
.box-card{
  outline: 1px solid tomato;
}

.socials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.socials li:not(:last-child){
  margin-right: 24px;
}
.box-card{
  text-align: center;
}
/* Customers */
.flex-customers{
  display: flex;
  flex-wrap: wrap;
}
/* .flex-customers li{
  margin-right: 24px;
} */
.flex-customers li:not(:last-child){
  margin-right: 24px;
}

/* Footer */
.section-footer{
  background-color: var(--NAVY-BLUE);
}
.accent-logo-footer{
  color:var(--CLOUD)
}
.info-footer{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--CORNFLOWER);
  margin-bottom: 0;
  margin-top: 16px;
}
.text-footer{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #FFF;
  margin-bottom: 16px;
}
.flex-footer{
  display: flex;
  flex-wrap: wrap;
}
.footer-box1{
  width: 264px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 156px;
}
.footer-box2{
  margin-left: 120px;
  margin-top: 100px;
}
.links-footer{
  display: flex;
  flex-wrap:wrap;
}
.links-footer li:not(:last-child){
  margin-right: 16px;
}


/* Potfolio */
.buttons-main{
  display: flex;
  flex-wrap: wrap;
  outline: 1px dashed blue;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
}
.buttons-main li:not(:last-child){
  margin-right: 24px;   
}

.btn-main{
  background-color: var(--CLOUD);
  color: var(--Iris);
  border: 1px solid var(--CORNFLOWER);
  border-radius: 4px;
  padding: 12px 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.btn-main:hover{
  background-color: var(--Iris);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.flex-examples{
  display: flex;
  flex-wrap: wrap;
}
.box-description{
  padding-left: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.examples-item:not(:nth-child(3n)){
  margin-right: 24px;
}
.examples-item{
  margin-bottom: 48px;
  /* outline: 1px dashed teal; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: #FFF;
}
.examples-item:nth-last-child(-n+3){
  margin-bottom: 0px;
}